@for (int i = 0; i < viewModel.Sponsor.data.list.Count(); i++)
{
    @{ 
        var sponsorItem  = viewModel.Sponsor.data.list[i];
        // 计算此赞助者总共赞助金额
        double totalMoney = 0;
        int orderNum = 0;
        string remarks = "";

        for (int j = 0; j < viewModel.Order.data.list.Count(); j++)
        {
            var orderItem  = viewModel.Order.data.list[j];
            if (orderItem.user_id == sponsorItem.user.user_id) {
                totalMoney += Convert.ToDouble(orderItem.total_amount);
                orderNum++;
                if (!string.IsNullOrEmpty(orderItem.remark)) {
                    // 只要最新留言
                    remarks = orderItem.remark;
                }
            }
        }
        if (remarks.Length > 10) {
            remarks = remarks.Substring(0, 10) + "...";
        }
     }

<a href="https://afdian.net/u/@sponsorItem.user.user_id">
@sponsorItem.user.name
</a>
<span>( @orderNum 次赞助, 共 ￥@totalMoney ) 留言: @remarks</span><br>
}
<!-- 注意: 尽量将标签前靠,否则经测试可能被 GitHub 解析为代码块 -->