@{
    var viewModel = (Afdian.Action.ViewModels.AfdianViewModel)@Model;
    viewModel.Sponsor.data.list = viewModel.Sponsor.data.list;
    viewModel.Order.data.list = viewModel.Order.data.list;
}

@for (int i = 0; i < viewModel.Sponsor.data.list.Count(); i++)
{
    var sponsorItem  = viewModel.Sponsor.data.list[i];
    double totalMoney = 0;

    for (int j = 0; j < viewModel.Order.data.list.Count(); j++)
    {
        var orderItem  = viewModel.Order.data.list[j];
        if (orderItem.user_id == sponsorItem.user.user_id) {
            totalMoney += Convert.ToDouble(orderItem.total_amount);
        }
    }

<a href="https://afdian.net/u/@sponsorItem.user.user_id">
@sponsorItem.user.name
</a>
<span>( @orderNum 次赞助, 共 ￥@totalMoney )</span><br>
}
