VirtualEnvironment/**
venv/**
poetry.lock
.idea/**
.vs/**
.vscode/**
Tools/OfflineBuild/**
Servers/**
MCSL2/Downloads/**
MCSL2/MCSL2_Config.json
MCSL2/Aria2/aria2.conf
MCSL2/Aria2/aria2.session
MCSL2/MCSL2_DetectedJava.json
MCSL2/MCSL2_ServerList.json
Plugins/**
pdm.lock
pdm.toml
__pycache__/**
MCSL2Lib/__pycache__/**
Adapters/__pycache__/**
tmp.py
/PyQt-Fluent-Widgets/
mcslapi.json
/build/
result.json
