# envs
VirtualEnvironment
env
venv

# package manager
poetry.lock
pdm.lock
pdm.toml
.pdm.toml
.pdm-python

# IDE
.idea/**
.vs/**
.fleet/**
.vscode/**
.kiro/**

# build
MCSL2.egg-info/**
build
Tools/OfflineBuild/**
Servers/**
requirements.txt
QtUI/*/*.py
Icons/*.py

# runtime
MCSL2/**
MCSL2/Logs/**
Plugins/**

# debug
.ruff_cache
result.json

Icons/icons_rc.py

# Just __pycache__
*__pycache__*

# tools
/PyQt-Fluent-Widgets/

# test
tmp.py
1.py

# useless egg info
*.egg-info

# macos
.DS_Store

# mcp
mcp.json

# secret
Tools/verification.py
Tools/MCSL Preview Permission Manager.exe