VirtualEnvironment/**
venv/**
poetry.lock
.idea/**
.vs/**
.vscode/**
Tools/OfflineBuild/**
Tools/qView.exe
Tools/Aria2/aria2c.exe
Tools/ParseOneDriveLink/ParseOneDriveLink.exe
Servers/**
MCSL2/**
Plugins/**
pdm.lock
pdm.toml
__pycache__/**
MCSL2Lib/__pycache__/**
Adapters/__pycache__/**
tmp.py