<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>CFBundleGetInfoString</key>
        <string>MCServerLauncher2</string>

        <key>CFBundleDeveloperName</key>
        <string>LxHTT</string>

        <key>CFBundleContactEmail</key>
        <string>lxhtz.dl@qq.com</string>

        <key>CFBundleDisplayName</key>
        <string>MCSL2</string>

        <key>CFBundleExecutable</key>
        <string>MCSL2</string>

        <key>CFBundleIconFile</key>
        <string>MCSL2.icns</string>

        <key>CFBundleIdentifier</key>
        <string>com.lxhtt.mcsl2</string>

        <key>CFBundleInfoDictionaryVersion</key>
        <string>6.0</string>

        <key>CFBundleName</key>
        <string>MCSL2</string>

        <key>CFBundlePackageType</key>
        <string>APPL</string>

        <key>CFBundleShortVersionString</key>
        <string>2.1.3.5</string>

        <key>CFBundleVersion</key>
        <string>2.1.3.5</string>

        <key>LSApplicationCategoryType</key>
        <string>public.app-category.productivity</string>

        <key>LSMinimumSystemVersion</key>
        <string>10.15</string>

        <key>NSDesktopFolderUsageDescription</key>
        <string>获得访问桌面文件夹的权限</string>

        <key>NSDocumentsFolderUsageDescription</key>
        <string>获得访问文档文件夹的权限</string>

        <key>NSDownloadsFolderUsageDescription</key>
        <string>获得访问下载文件夹的权限</string>

        <key>NSNetworkVolumesUsageDescription</key>
        <string>获得访问网络磁盘的权限</string>

        <key>NSRemovableVolumesUsageDescription</key>
        <string>获得访问可移动磁盘的权限</string>

        <key>NSFileProviderDomainUsageDescription</key>
        <string>获得访问ProviderDomain的权限</string>

        <key>NSAppleScriptEnabled</key>
        <string>获得启用AppleScript的权限</string>

        <key>NSUpdateSecurityPolicy</key>
        <string>This app requires permission to update the security policy.</string>

        <key>NSSystemAdministrationUsageDescription</key>
        <string>Allow the app to make changes to your system configuration.</string>

        <key>NSLocalNetworkUsageDescription</key>
        <string>Allow the app to use your local network.</string>

        <key>NSHumanReadableCopyright</key>
        <string>Copyright © 2023 LxHTT</string>

        <key>NSQuitAlwaysKeepsWindows</key>
        <true/>

        <key>NSRequiresAquaSystemAppearance</key>
        <false/>

        <key>NSSupportsAutomaticGraphicsSwitching</key>
        <true/>

    </dict>
</plist>