PyQt5==5.15.9
pyqt5-stubs>=5.15.6.0
pyqt5-tools==5.15.9.3.3
PyQt-Fluent-Widgets[full]>=1.1.9
requests>=2.31.0
aria2p==0.11.3
psutil==5.9.5
zstandard>=0.21.0
imageio>=2.31.3
nuitka>=1.8
ordered-set>=4.1.0
lib-not-dr>=0.1.5

