# interface
# pyqt5-stubs>=5.15.6.0
# pyqt5-tools==5.15.9.3.3
PyQt5==5.15.10
PyQt-Fluent-Widgets[full]>=1.3.7

# tools
psutil==5.9.5
loguru==0.7.2
requests==2.31.0
aria2p==0.11.3

# builder
ordered-set==4.1.0
nuitka>=1.8.5, <1.8.6
imageio>=2.31.5
lib-not-dr>=0.1.7, <=0.2.0

# debug
# viztracer